<div class="items">
  <div class="my-flex min" ng-click="hide=!hide">
    <div class="display">Drive: {{drive.name}}</div>
    <div class="display">SN: {{drive.serial_number}}</div>
    <div class="display">Type: {{drive.backup_type}}</div>
    <div class="display">Case: {{drive.case.name}}</div>
    <div class="display">Location: {{drive.location.nameShort}}</div>
  </div>

  <div class="hidden-info" ng-if="hide">
    <div class="my-flex">
      <div class="display" ng-if="!inputs">Size: {{drive.size}}</div>
      <div class="display" ng-if="!inputs">Purchased: {{drive.purchase_date | date: 'shortDate'}}</div>
      <div class="display" ng-if="!inputs">Current Location: {{drive.location.name}}</div>
      <div class="display" ng-if="!inputs">Last Backup: {{drive.last_backup_date | date: 'shortDate'}}</div>
    </div>

    <div class="edit" ng-if="inputs">Name:
      <input type="text" placeholder="Drive Name" ng-model="tempDrive.name">
    </div>

    <div class="edit" ng-if="inputs">Size:
      <select ng-model="tempDrive.size">
        <option value="320 GB">320 GB</option>
        <option value="500 GB">500 GB</option>
        <option value="750 GB">750 GB</option>
        <option value="1 TB">1 TB</option>
        <option value="2 TB">2 TB</option>
        <option value="3 TB">3 TB</option>
        <option value="4 TB">4 TB</option>
        <option value="5 TB">5 TB</option>
        <option value="6 TB">6 TB</option>
      </select>
    </div>

    <div class="edit" ng-if="inputs">SN:
      <input type="text" placeholder="Serial Number" ng-model="tempDrive.serial_number">
    </div>

    <div class="edit" ng-if="inputs">Purchased:
      <input type="date" ng-model="tempDrive.purchase_date">
    </div>

    <div class="edit" ng-if="inputs">Current Location:
      <select ng-model="tempDrive.location" ng-options="location._id as location.name for location in tempLocations"></select>
    </div>

    <div class="edit" ng-if="inputs">Case:
      <select ng-model="tempDrive.case" ng-options="case._id as case.name for case in tempCases"></select>
    </div>

    <div class="edit" ng-if="inputs">Type:
      <select ng-model="tempDrive.backup_type">
        <option value="Weekly">Weekly</option>
        <option value="Monthly">Monthly</option>
        <option value="Yearly">Yearly</option>
      </select>
    </div>

    <div class="edit" ng-if="inputs">Last Backup:
      <input type="date" ng-model="tempDrive.last_backup_dateackup">
    </div>

    <br>
    <button type="button" ng-click="toggleInputs()" ng-if="!inputs">Edit</button>
    <button type="button" ng-click="editDrive()" ng-if="inputs">Save</button>
    <button type="button" ng-click="toggleInputs()" ng-if="inputs">cancel</button>
    <button type="button" ng-click="deleteDrive()" ng-if="!inputs">Delete</button>
  </div>
</div>
